{% extends "base.html" %}

{% block content %}

<div class='text-center'>
    <h1>{{ title }}</h1>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-12">
                <form method="post"> {% csrf_token %}
                    {{ form }}
                    <button type="submit" class="btn btn-outline-primary">Submit</button>
                </form>


{#                bez tego tokena wywala blad zwiazany z security jakis#}
{#                zakomentowane, bo przerzucilismy sie na formy wbudowane w django, a nie tworzone samemu#}
{#                <form method="post"> {% csrf_token %}#}
{#                    <input type="text" class="form-control" placeholder="Name" name="fullname">#}
{#                    <input type="email" class="form-control" placeholder="Email" name="email">#}
{#                    <textarea name="content" class="form-control" placeholder="Your content"></textarea>#}
{#                    <button type="submit" class="btn btn-default ">Submit</button>#}
{#                </form>#}
            </div>
        </div>
    </div>
</div>
{% endblock %}